/* common */
.container { width: 1170px; margin: 0 auto; }
.of { overflow: hidden; }

/* header */
#mainHeader { overflow: hidden; border-top: 3px solid #f96668; }
#logo { float: left; color: #f96668; }
#mainNav { float: right; margin: 2em 0; }
#mainNav ul { margin: 0; padding: 0; list-style: none; }
#mainNav li { display: inline; }
#mainNav li:hover a ,#mainNav .active a { background: #f96668; color: #fff; border-radius: 10px; }
#mainNav a { padding: 1em; text-decoration: none; color: #8D8D8D; }

/* main */
#main { padding: 1em 0; box-shadow: inset 0px -1px 22px 0px rgba(0, 0, 0, 0.49); }

/* footer */
#mainFooter { text-align: center; }