#main-content { width: 100%; }
.stage { float: left; width: 50%; }
.text { float: left; width: 50%; }

#fade ul , #carousel ul { margin: 0; padding: 0; list-style: none; overflow: hidden; }

#fade1 .imgList { position: relative; top: 0; left: 0; width: 450px; height: 250px; }
#fade1 .imgList li { position: absolute; top: 0; left: 0; opacity: 0; }
#fade1 .imgList .active { opacity: 1; }
#fade1 .btn { margin: 1em 0; }
#fade1 .btn li { display: inline-block; width: 20px; height: 20px; margin-right: 10px; border-radius: 20px; background: #ccc; }
#fade1 .btn .active { background: #f96668; }

#carousel1 .imgBox { position: relative; width: 450px; height: 250px; overflow: hidden; }
#carousel1 .imgList { position: relative; }
#carousel1 .imgList li { float: left; }
#carousel1 .btn { margin: 1em 0; }
#carousel1 .btn li { display: inline-block; width: 20px; height: 20px; margin-right: 10px; border-radius: 20px; background: #ccc; }
#carousel1 .btn .active { background: #f96668; }

#carousel2 { margin-bottom: 1em; }
#carousel2 .stage{ position: relative; }
#carousel2 .imgBox { position: relative; width: 450px; height: 250px; overflow: hidden; }
#carousel2 .imgList { position: relative; }
#carousel2 .imgList li { float: left; }
#carousel2 .btn { position: absolute; left: 0; top: 0; width: 450px; height: 250px; }
#carousel2 .btn a { position: absolute; display: none; width: 50px; line-height: 50px; text-align: center; background: #000; opacity: 0.3; text-decoration: none; font-size: 30px; color: #ccc; }
#carousel2 .btn .prev { left: 0; top: 100px; }
#carousel2 .btn .next { left: 400px; top: 100px; }

#carousel3 { margin-bottom: 1em; }
#carousel3 .stage { position: relative; }
#carousel3 .imgBox { position: relative; width: 450px; height: 250px; overflow: hidden; }
#carousel3 .imgList li { position: absolute; top: 0; left: 450px; }
#carousel3 .imgList .active { left: 0; }
#carousel3 .btn { position: absolute; left: 0; top: 0; width: 450px; height: 250px; }
#carousel3 .btn a { position: absolute;  width: 50px; line-height: 50px; text-align: center; background: #000; opacity: 0.3; text-decoration: none; font-size: 30px; color: #ccc; }
#carousel3 .btn .prev { left: 0; top: 100px; }
#carousel3 .btn .next { left: 400px; top: 100px; }